<h1>Social todo app for cpsc213</h1>

{{#if login_errors}}
<div>
    <p>login error:</p>
<ul class="errors">
{{#each login_errors}}
<li class="errors">{{this}}</li>
{{/each}}
</ul>
</div>
{{/if}}

{{#if register_errors}}
<div>
    <p>login error:</p>
<ul class="errors">
{{#each register_errors}}
<li class="errors">{{this.msg}}</li>
{{/each}}
</ul>
</div>
{{/if}}

{{#if user}}
<h1>{{this}}</h1>
{{/if}}


<div>
    <form class="login" action="/user/login" method="POST">
        <label for="email">Email</label>
        <input name="email" id="email" type="text"><br>
        <label for="password">Password</label>
        <input name="password"  id="password" type="password"><br>
        <input type="submit"  class="log-in-submit">
    </form>
</div>

<div><hr></div>

<div>
    <form class="register" action="/user/register" method="POST" class="signup-form" style="display: block;">
      <input name="name" type="text" class="text-input" placeholder="first &amp; last name">
      <input name="email" type="email" class="text-input" placeholder="email">
      <input name="password" type="password" class="text-input" placeholder="password">
      <input name="passwordConfirmation" type="password" class="text-input" placeholder="password confirmation">
      <input class="sign-up-submit" type="submit">
    </form>
</div>
